h2{
    color: green;
    font-size: 30px;
    font: bold;
}
body{
    background-color: rgb(4, 4, 73);
}
p{
    color: whitesmoke;
    font-size: 20px;
    font-style: bold;
}
h3{
    color: whitesmoke;
    font-size: 25px;
    font: bold;
}
h1{
    color: whitesmoke;
    font-size: 35px;
    f
}
h4{
    color: whitesmoke;
    font-size: 18px;
}